{% extends 'Quiz/base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<div class = "row dashboardblock">
    <div class ='offset-4 col-4'>
        List of tests
    </div>
</div>
{% for exam in exams %}
<div class="row dashboardblock">
    <div class = "col-4">
        {{exam}}
    </div>
    <div class = "col-4">
        <a class="" href="{% url 'Quiz:give_test' exam.id %}">Give Test</a>
    </div>
    <div class = "col-4">
        <a class="" href="{% url 'Quiz:view_result' exam.id %}">View Result</a>
    </div>
    
</div>
{% endfor %}
{% else %}
You have not logged in..
{% endif %}
{% endblock %}
